@import './custom.scss';
@import './color.scss';
@import './flex.scss';
@import './theme.scss';
@import './margin-padding.scss';
@import './other.scss';

* {
  // 清除默认的外边距和内边距
  margin: 0;
  padding: 0;
  cursor: pointer;
  // 盒子模型：外边距（margin）+ border（边框） + 内边距（padding）+ content（内容）
  box-sizing: border-box; // 设置之后padding和border的值就不会影响盒子大小(元素的宽高)，相当于把padding和border的值都算在content里
}

#root,
html,
body {
  height: 100%; // 页面满屏
  // overflow: hidden;
}

.shadow-first{
  box-shadow: rgba(46, 46, 233, 0.497)px -1px, rgba(46, 46, 233, 0.514) 0px 1px 3px -1px;
}
.shadow-second{
  box-shadow: 7px 0px 28px -12px rgb(181, 184, 106);
}
.shadow-third{
  box-shadow: 15px 2px 37px -25px rgb(156, 67, 85);
}
.hover-example{
  color: blue;
  &:hover {
    color: rgba(0, 0, 255, 0.298);
  }
}
.ProseMirror{
  height: 100%;
  outline: none;
  overflow-y:auto ;
}

//滚动条
::-webkit-scrollbar {
  width: 2px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(239, 239, 239);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}

::-webkit-scrollbar-corner {
  background: #bfbfbf;
}


.ant-select-selector{
  border-radius: 6px !important;
}