/* styles.scss */
.container {
   
  
    .hover-button {
      display: none;
      transition: left 0.2s ease-in-out; // 添加平滑移动效果
     
    }
  
    &:hover {
      .hover-button {
        display: block;
      }
    }
  }

 //单选框
  .ant-radio-button-wrapper {
    

    border-radius: 6px !important;
    
  }
 //下拉框文字颜色
  .ant-typography{
    color:grey !important;
  }
 
  //表格大小
  .ant-table{
    height: 100%;
 
  }
  .ant-pagination{
    margin-bottom:1px !important ;
    
  }
  .shadow{
    box-shadow: 3px 2px 12px rgb(94, 129, 244, 0.51);
  }
  .mosh{
    border-radius:10px;
    gap: 20px;
    backdrop-filter: blur(5px);
    background-color: rgba(202, 210, 213, 0.075);
  }

//悬浮按钮
.hover-row .share-button {
    display: none;
}
.hover-row-active .share-button {
    display: inline-block;
}
.hover-effect:hover {
  background-color: rgb(215, 233, 239); /* 将颜色更改为你想要的颜色 */
}
.ant-modal-content{
  border-radius: 10px !important;
  
}
.ant-btn{
  border-radius: 6px;
  border: rgb(188, 175, 175) solid 1px;
}
.float-card{
  box-shadow: 3px 2px 12px rgb(94, 129, 244, 0.51);
  border-style: none;
  border-radius:10px;
  gap: 20px;
  backdrop-filter: blur(5px);
  background-color: rgba(252,253,252, 0.075);
}
.ant-tag{
  border-radius: 10px !important;
}



//example
.tiptap {
  /* Give a remote user a caret */
  .collaboration-cursor__caret {
    border-left: 1px solid #0d0d0d;
    border-right: 1px solid #0d0d0d;
    margin-left: -1px;
    margin-right: -1px;
    pointer-events: none;
    position: relative;
    word-break: normal;
  }

  /* Render the username above the caret */
  .collaboration-cursor__label {
    border-radius: 3px 3px 3px 0;
    color: #0d0d0d;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    left: -1px;
    line-height: normal;
    padding: 0.1rem 0.3rem;
    position: absolute;
    top: -1.4em;
    user-select: none;
    white-space: nowrap;
  }
  img {
    display: block;
    height: auto;
    margin: 1.5rem 0;
    max-width: 100%;

    &.ProseMirror-selectednode {
      outline: 3px solid var(--purple);
    }
  }
}
//订单
.order-modal .ant-modal-content {
  border-radius: 10px;
}

.order-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.order-label {
  font-weight: bold;
}

.order-value {
  color: #555;
}


//大纲
.toc-item {
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toc-item a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  flex-grow: 1;
}

.toc-item.is-active {
  background-color: #e6f7ff;
  color: #1890ff;
}

.toc-item.is-scrolled-over {
  background-color: #fff1f0;
  color: #f5222d;
}

.toc-item a:hover {
  color: #40a9ff;
}

.empty-state {
  padding: 20px;
  text-align: center;
  color: #888;
  font-style: italic;
}

.toc-item.level-1 {
  font-size: 1.2em;
  font-weight: bold;
}

.toc-item.level-2 {
  font-size: 1.1em;
  margin-left: 20px;
}

.toc-item.level-3 {
  font-size: 1em;
  margin-left: 40px;
}

.toc-item.level-4 {
  font-size: 0.9em;
  margin-left: 60px;
}

.toc-item.level-5 {
  font-size: 0.8em;
  margin-left: 80px;
}

.collapse-toggle {
  margin-right: 10px;
  cursor: pointer;
  font-size: 1.2em;
}



.shadow-primary{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.show-no{
  display: none;
}


.document-card {
  position: relative;
  border: 1px solid #f0f0f0;
  transition: transform 0.3s, box-shadow 0.3s;
}

.document-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.document-card-content {
  position: relative;
}

.document-card-title {
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.document-card-category {
  background-color: #e6f7ff;
  color: #1890ff;
  padding: 2px 4px;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 12px;  /* Adjust font size for category */
}
.document-card-subject {
  background-color: #652ecd0c;
  color: #aa07dbbf;
  padding: 2px 4px;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 12px;  /* Adjust font size for category */
}
//ai助手
.message-box {
  max-width: 60%;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.user-message {
  background-color: #137de03d;
}

.assistant-message {
  background-color: #8732bf1c;
}

.pending-text {
  animation: flow 1.5s linear infinite;
}

//评审意见
.card-content {
  white-space: pre-wrap;
}
.is-selected{
  background-color:rgba(46, 46, 233, 0.1);
  border-radius:10px ;
  
}

.ant-menu-submenu > .ant-menu {
  height: 200px !important;
}

//二次编辑器
#mindMapContainer {
  width: 100%;
  height: 300px;
}

#mindMapContainer * {
  margin: 0;
  padding: 0;
}