/* styles.scss */
.sider-container {
    position: relative;
    width: 200px;
    height: 91.5vh;
    overflow: auto;
  
    .hover-button {
      position: absolute;
      left: 175px;
      bottom: 356px;
      display: none;
    }
  
    &:hover {
      .hover-button {
        display: block;
      }
    }
  }
  